
/************ cotalog list START *************/

.catalog_1 {
    width: 100%;
    height: auto;
    margin-bottom: 95px;
    margin-top: 48px;
    padding:0 10%;
}

.cotalog-title {
    padding-bottom: 12px;
}

 .catalog-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
 }

 .Clist-2 {
    display: flex;
    justify-content: space-between;
 }

 .catalogP {
    width: 170px;
    line-height: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
 }

li img {
    width: 170px;
    object-fit: cover;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

h5 {
    margin-top: 12px;
    margin-bottom: 4px;
}


/************ cotalog list END *************/



.pre2 {
    width: auto;
    height: 500px;
    font-size: 24px;
    padding-bottom: 24px;
    display: table-cell;
    vertical-align: middle;
}

.pre2 span {
    display: inline;
    text-align: center;
}